<h1>Reservations</h1>

<% if @reservations.empty? %>
    <p>You don't have any gyms reserved. Click <%= link_to "here", gyms_path %> to reserve a gym!</p>
<% else %>
    <ul>
        <% @reservations.each do |reservation| %>
            <li><img src="<%= asset_path("#{reservation.gym.name}.jpg") %>"></li>
            <li><%= link_to reservation.name, user_reservation_path(reservation.user_id, reservation) %></li>
            <li><%= link_to "delete", {action: :destroy, id: reservation.id}, method: :delete, data: {confirm: "Are you sure?"} %></li>
            <li><%= link_to "edit", edit_user_reservation_path(current_user, reservation) %></li>
        <% end %>
    </ul>
<% end %>