<h1>Your Reservation</h1>

Gym: <%= @reservation.gym.name %>
Guests: <%= @reservation.gym.guests %>
Price: <%= @reservation.gym.price %>

<%= link_to "delete", {action: :destroy, id: @reservation.id}, method: :delete, data: {confirm: "Are you sure?"} %>
<%= link_to "edit", edit_user_reservation_path{current_user, @reservation} %>