<h1>Gyms</h1>

<div>
    <% @gyms.each do |gym| %>
        <img src="<%= asset_path("#{gym.filename}") %>">
        <a href='<%= gym_path(gym) %>'><p><%= gym.name %></p></a>
        <p>Maximum Guests: <%= gym.guests %></p>
        <p>Price: $<%= gym.price %>/day</p>
        <div id="gym-<%= gym.id %>">
            <button class="gym-form" id="<%= gym.id %>">More Info</button><br><br>
        </div>
    <% end %>
</div>