<nav class="site-nav">
  <div class="wrapper">
    <ul>
      <li><a class="active" href="/">AirGnB</a></li>
      <% if !current_user.gyms.any? %>
        <li><%= link_to "Become a Host", host_gym_path %></li>
      <% else %>
        <li><%= link_to "Your Hostings", host_gyms_path %></li> 
      <% end %>
      <% if !user_signed_in? %>
        <li><%= link_to "Become a Host", host_gym_path %></li>
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
      <% else %>
        <li><%= link_to "Log Out", destroy_user_session_path, method: :delete %></li>
        <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
        <li><%= link_to "Reservations", user_reservations_path(current_user.id) %></li>
        <li><%= link_to "Gyms", gyms_path %></li>
      <% end %>
    </ul>
  </div>
</nav>